.footer {
    background-color: black !important;
}
.footer .widget-title{
    color: white !important;
    font-family: 'Poppins';
}
.widget-about-title{
    color: white !important;
}
a{
    font-family: 'Poppins';
}

.carousel .control-dots{
    /* display:none; */
}
.thumbs{
    /* display: none; */
}
.carousel-status{
    /* display: none; */
}

.control-arrow{
    /* display: none; */
}
